body{
	background-image:url(images/bg.jpg);
	background-color: #e6ffff;
	color: black;
}
div.page{
	height:90%;
	width:100%;
}
div.block-left{
	background-color: white;
	color:black;
	float:left;
	width:20%;
	height:40%;
	margin:25;
	padding:15;
	
}
div.block-right{
	background-color: white;
	color:black;
	float:right;
	width:20%;
	height:40%;
	margin:25;
	padding:15;
	
}
div.footer{
	width:100%;
	background-color: skyblue;
	height:24px;
}
p{
	text-align: justify;
	margin-bottom: 0px;
	font-family: Arial;
}
h1{
	text-align: center;
	background-color: blue;
	color: white;
	font-size: 48px;
	font-family: Impact;
	width:100%;
	margin-right:0;
	margin-left:0;
}
h2{
	background-color: royalblue;
	color: white;
	margin-bottom: 0px;
	font-family: "Arial Black";
}
h3{
	background-color: skyblue;
	color: white;
	margin-bottom: 0px;
	font-family: "Arial Black";
}

a.navbar:link, a.navbar:visited {
    background-color: skyblue;
	color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	padding:15px 25px;
}
a.navbar:hover {
    background-color: #fade41;
	color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	padding:15px 25px;
}
a.navbar:active {
    background-color: royalblue;
	color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	padding:15px 25px;
}
a.normal:link, a.normal:visited {

	color: black;
	text-decoration: none;

}
a.normal:hover {
	font-weight:900;
	text-decoration: none;

}
a.normal:active {
    text-align: center;
    text-decoration: none;
}